* {
  --color-5: #ff8b94;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

#playerNumForm input {
  position: absolute;
  opacity: 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}
.player-btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem 1.75rem;
  margin: 0 1rem;
  font-size: 2rem;
  color: whitesmoke;
  background-color: steelblue;
  border: 5px solid #878787;
  border-radius: 10px;
  cursor: pointer;
}

legend {
  font-size: 2rem;
}

.selected {
  background-color: whitesmoke;
  color: #878787;
  border: 5px solid steelblue;
}

.row-wrapped {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
