* {
  box-sizing: border-box;
}

html,
body {
  --color-1: #a8e6cf;
  --color-2: #dcedc1;
  --color-3: #ffd3b6;
  --color-4: #ffaaa5;
  --color-5: #ff8b94;
  --color-6: #0b2434;
  --dice-1: "./images/Alea_1.png";
  --dice-2: "./images/Alea_2.png";
  --dice-3: "./images/Alea_3.png";
  --dice-4: "./images/Alea_4.png";
  --dice-5: "./images/Alea_5.png";
  --dice-6: "./images/Alea_6.png";
  --placeholder: url(https://www.placecage.com/c/112/112);
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--color-6);
  padding: 2rem 2rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/*                   */
/*       Layout      */
/*                   */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row-wrapped {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-green {
  background-color: green;
  color: white;
}

.btn-blue {
  background-color: blue;
  color: white;
}
